<script type="text/javascript">
(function($)    {
    $(function()    {
        var callbackFunction\$optIndex = function(\\\$button1, data, textStatus, optionArgumentArray1) {
            var \\\$dialog1 = $('#' + \\\$button1.data('searchDialog'));
            \\\$dialog1 = showAdvancedSearchDialog(\\\$button1, \\\$dialog1, data, Constant);
            \\\$dialog1.modal('show');
        };
        $('#__ui_advanced_search_button__\$optIndex').on('click', function(e)   {
            var \\\$button1 = \$(this);
            var columnList = \\\$button1.data('column');
            var classname = \\\$button1.data('class');
            var payload = { columns: columnList, classname: classname };
            fSendAjax(\\\$button1,
                    \$('<span/>'),
                    '../server/serviceGetAdvancedSearchPayload.php',
                    payload,
                    null,
                    null,
                    callbackFunction\$optIndex,
                    null,
                    null,
                    "POST",
                    true,
                    false,
                    "Processing ....",
                    null,
                    null);
        });
    });
})(jQuery);
</script>




<script type=\"text/javascript\">
    $('#$switchId').on('change.bootstrapSwitch', function(e) {
        window.alert('Hello Mwanangu');
        $('#$name').prop('disabled', ! e.target.checked);
      });
</script>